 <% layout("./layouts/boilerplate.ejs") %> 
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h1><b>Create a New listing</b></h1>
            <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listings[title]"  class="form-control" placeholder="enter title"  required>
                    <div class="valid-feedback">
                       Title Looks good!
                    </div>
                     <!-- <div class="invalid-feedback">
                        Please provide a valid Title.
                      </div> -->
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listings[description]" placeholder="enter your  description"  cols="30" rows="10"class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Please describe description in short.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">upload_listing_image:</label>
                    <input type="file"  name="listings[image]"   class="form-control" required>
                    
                </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price"  class="form-label">Price</label>
                    <input type="number" placeholder="10000"  name=listings[price]  class="form-control" required>
                    <!-- <div class="valid-feedback">
                        Looks good!
                    </div> -->
                    <div  class="invalid-feedback">
                        Please provide a valid price
                      </div>

                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listings[country]" class="form-control" placeholder="India" required >
                    <!-- <div class="valid-feedback">
                        Looks good!
                    </div> -->
                    <div  class="invalid-feedback">
                        Please provide a valid country name
                      </div>
                </div>
            </div>
               
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listings[location]" class="form-control" placeholder="Kolkata,west bengal" required>
                    <!-- <div class="valid-feedback">
                        Looks good!
                    </div> -->
                    <div  class="invalid-feedback">
                        Please provide a valid location
                      </div>
                </div>
                <button class="btn btn-dark btn-add">add</button>
                
            </form>
            <br>
        </div>
        
    </div>
    
</body>
